# Python/Django
__pycache__/
*.py[cod]
venv/
static/
storage/
.env
dump.rdb
requirements.flag

# Node/ReactJS
.cache/
dist/
node_modules/
coverage
stats.json
npm-debug.log

# Misc.
.DS_Store
.idea
*.swp
secrets
logs/

\.vscode/settings\.json
