{% extends "admin/base.html" %}

{% block extrahead %}
  <style>
    .content {
      text-align: center;
      margin: 24px auto 0;
      width: 520px;
    }
    h3 {
      font-size: 20px;
    }
    input[type="file"] {
      width: 100%;
      overflow: hidden;
    }
    .innerbox {
      border: solid 1px #ddd;
      padding: 4px; 8px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .innerbox div {
      border: solid 1px #ddd;
      padding: 4px; 8px;
    }
  </style>
{% endblock %}

{% block branding %}
  CSV UPLOAD
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin123">Home</a>
  &gt;
  <a href="/admin123/core">Core</a>
  &gt;
  <a href="/admin123/core/{{ model_class_name.lower }}/">{{ model_name }}</a>
  &gt; Import CSV
</div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="card">
      <h3>{{ model_name }}</h3>
      {% if model_class_name == "Part" %}
        <p>Format:</p>
        <div class="innerbox">
          <div>PartNumber</div>
          <div>PartType</div>
          <div>Title</div>
          <div>CostPriceRange</div>
          <div>Manufacturer</div>
        </div>
      {% elif model_class_name == "PartPrice" %}
        <p>Format:</p>
        <div class="innerbox">
          <div>Date</div>
          <div>Website</div>
          <div>PartNumber</div>
          <div>PartPrice</div>
        </div>
      {% elif model_class_name == "PartCostPoint" %}
        <p>Format:</p>
        <div class="innerbox">
          <div>Date</div>
          <div>PartNumber</div>
          <div>Cost</div>
        </div>
      {% elif model_class_name == "CarMakeModel" %}
        <p>Format:</p>
        <div class="innerbox">
          <div>Make</div>
          <div>Model</div>
        </div>
      {% elif model_class_name == "Website" %}
        <p>Format:</p>
        <div class="innerbox">
          <div>DomainName</div>
          <div>Title</div>
          <div>IsClient</div>
        </div>
      {% endif %}
      <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload</button>
      </form>
      {% if error %}
        <p style="color:red;">Sorry, {{ error }}.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
