body {
  font-size: 16px;
}
section {
  padding: 8px 20px;
}
section.nav {
  background-color: #ffe6c6;
  border-top: solid 1px #876;
  border-bottom: solid 1px #876;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.nav > span {
  padding: 0 20px;
}
#content-sections-list {
  max-width: 500px;
  margin: auto;
}
.image-bar-container {
  display: flex;
  flex: wrap;
}
.add-images {
  flex-grow: 1;
  text-align: right;
}
.image-bar {
  display: flex;
  max-width: 95%
  overflow-x: scroll;
}
.image-frame {
  padding: 2px;
}
.image-frame img {
  height: 90px;
}
.image-frame.selected {
  border-bottom: solid 3px blue;
}
.left-column {
  min-width: 200px;
  max-width: 300px;
}
.middle-column {
  width: 90px;
  position: relative;
}
.right-column {
  min-width: 200px;
  max-width: 300px;
  width: 50%;
}
.crow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 600px;
  max-width: 800px;
  margin: 6px auto;
}
.crow-border {
  border: solid 1px gray;
  border-radius: 8px;
}
.crow > * {
  margin: 15px;
}
.crow textarea {
  width: 100%;
  height: 100%;
}
.randomize-slot-button, #randomize-button {
  background-color: #ddf;
}
.randomize-slot-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.slot-template-div {
  padding: 10px;
}
.slot-name-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px gray;
}
.ModalWindow {
  max-width: 92%;
  max-height: 92%;
}
.ModalWindow .body {
  overflow: scroll;
}
.ModalWindow .titlebar .x {
  float: right;
  cursor: pointer
}
.tooltip-container {
  cursor: pointer
}
.preview {
  font-size: 14px;
}
