body {
  font-size: 16px;
}
section {
  padding: 8px 20px;
}
section.nav {
  background-color: #ffe6c6;
  border-top: solid 1px #876;
  border-bottom: solid 1px #876;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section.nav > span {
  padding: 0 20px;
}
#content-sections-list {
  max-width: 500px;
  margin: auto;
}
.image-bar {
  display: flex;
  width: 560px;
  overflow-x: scroll;
}
.image-frame {
  padding: 2px;
}
.image-frame img {
  height: 90px;
}
.image-frame.selected {
  border-bottom: solid 3px blue;
}
.left-column {
  min-width: 200px;
  max-width: 300px;
}
.middle-column {
  width: 100px;
}
.right-column {
  min-width: 200px;
  max-width: 300px;
  width: 50%;
}
.crow {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.slot-template-div {
  border: solid 1px gray;
  border-radius: 8px;
  padding: 10px;
}
.slot-name-div {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
  height: 130px;
}
.ModalWindow {
  max-width: 92%;
  max-height: 92%;
}
.ModalWindow .body {
  overflow: scroll;
}
.ModalWindow .titlebar .x {
  float: right;
  cursor: pointer
}
.tooltip-container {
  cursor: pointer
}
.preview {
  font-size: 14px;
}
