/* Common page layout. */
html, body, header, footer, section, nav, div, ul {
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #666;
  color: white;
  border-bottom: solid 1px #555;
  font-size: 16px;
}
@media (max-width: 700px) {
  header .title {
    display: none;
  }
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: #bbb;
  text-decoration: underline;
}
header .welcome {
  color: #dd6;
}
section.card {
  max-width: 640px;
  margin: 30px auto;
  background-color: white;
  border-radius: 30px;
  min-height: 200px;
  padding: 30px;
  box-shadow: 0 0 5px 2px #ddd;
}
section.full {
  padding: 12px 30px;
}
/* Hamburger menu */
.hamburger {
  background: none;
  line-height: 18px;
  color: #bb9;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1.4em;
  transition: all 0.3s;
}
.hamburger.rotated {
  transform: rotate(90deg);
}
.hamburger-menu{
  display: none;
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;
}
.hamburger-menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.hamburger-menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.hamburger-menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.hamburger-menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.hamburger-menu ul li a:hover {  color: #666; text-decoration:none;}
.hamburger-menu a{text-decoration:none; color:#666;}
.hamburger-menu a:hover{text-decoration:none; color:#666;}
/* Reorderable list */
.reorder-list {
  list-style-type: none;
}
.reorder-list li {
  padding: 7px;
  border-radius: 7px;
  border: solid 1px #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
.reorder-list li button {
  padding: 0 4px;
  font-size: 20px;
}
/* Decorator classes. */
.centered {
  text-align: center;
}
.indented {
  padding-left: 30px;
}
.error {
  color: #c00;
}
.upper {
  text-transform: uppercase;
}
.title {
  text-transform: capitalize;
}
/* Tooltips */
.tooltip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip-container .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  width: 125px;
  position: absolute;
  top: 16px;
  left: 40px;
  padding: 8px;
  z-index: 1;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
/* Questionable (component-specific) stuff follows. */
table {
  margin-left: 50px;
}
.section {
  margin: 20px 30px;
  line-height: 1.45;
}
li {
  font-size: 15px;
}
li div {
  display: inline-block;
}
li div:first-child {
  min-width: 210px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
