{% extends "loggedin.html" %}

{% block load-first %}
  {{ block.super }}
  <style>
    body {
      font-size: 16px;
    }
    section {
      padding: 8px 20px;
    }
    section.nav {
      background-color: #ffe6c6;
      border-top: solid 1px #876;
      border-bottom: solid 1px #876;
      text-align: center;
      line-height: 1.5;
    }
    section.nav > span {
      padding: 0 20px;
    }
    #content-sections-list {
      max-width: 500px;
      margin: auto;
    }
    .image-bar {
      display: flex;
      width: 560px;
      overflow: scroll;
    }
    .left-column {
      min-width: 200px;
      max-width: 300px;
    }
    .middle-column {
      width: 100px;
    }
    .right-column {
      min-width: 200px;
      max-width: 300px;
      width: 50%;
    }
    .crow {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    .slot-template-div {
      border: solid 1px gray;
      border-radius: 8px;
      padding: 10px;
    }
    .slot-name-div {
      width: 100%;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    textarea {
      width: 100%;
      height: 130px;
    }
    .ModalWindow {
      max-width: 92%;
      max-height: 92%;
    }
    .ModalWindow .body {
      overflow: scroll;
    }
    .ModalWindow .titlebar .x {
      float: right;
      cursor: pointer
    }
    .tooltip-container {
      cursor: pointer
    }
    .preview {
      font-size: 14px;
    }
  </style>
{% endblock load-first %}

{% block content %}
  <section class="nav">
    <span>
      <span>SEO Landing Page Builder</span>
      {% if websites %}
        <select id="website-select">
          <option value="">Select a website...</option>
          {% for w in websites %}
            <option value="{{ w.domain }}">{{ w.display_name }}</option>
          {% endfor %}
        </select>
      {% elif 0 %}
        <span>Website: </span>
        <span><b>{{ website.display_name }}</b> ({{website.domain}})</span>
        <span> <a href="/content/builder">Change</a></span>
      {% endif %}
    </span>
    {% if website %}
      <span>
        {% if not make_model %}
          <select id="year-select">
            <option value="">Select a year...</option>
            <option value="*">(any)</option>
            {% for year in year_range %}
              <option>{{ year }}</option>
            {% endfor %}
          </select>
          <select id="make-select">
            <option value="">Select a make...</option>
            {% for m in makes %}
              <option value="{{ m.make_slug }}">{{ m.make }}</option>
            {% endfor %}
          </select>
          {% for m in makes %}
            <select id="{{ m.make_slug }}-model-select" class="model-select" style="display: none">
              <option value="">Select a model...</option>
              {% for model in m.models %}
                <option value="{{ model.model_slug }}">{{ model.model }}</option>
              {% endfor %}
            </select>
          {% endfor %}
        {% else %}
          <b>{% if year != '*' %}{{ year }} {% endif %}{{ make_model.make }} {{ make_model.model }}</b>
          <span> <a href=".">Change</a></span>
        {% endif %}
      </span>
    {% endif %}
    </section>
    {% if make_model %}
    <section class="images row">
      <div id="no-images-warning" style="display: none">
        There are no images available for this make/model.
      </div>
      <div id="image-bar" style="display: none;"><img src="" style="height: 80px;"/></div>
      <span><a href="/seolp-media">Add images</a></span>
    </section>
    <div id="empty-case-div" class="card" style="display: none; line-spacing: 1.5;">
      <p>Select a page template to start with:</p>
      <form><div style="padding-left: 16px;">
        <p>
          <input id="starter-regular-checkbox" type="radio" name="starter-type" checked/>
          Regular
        </p>
        <p>
          <input id="starter-deluxe-checkbox" type="radio" name="starter-type" />
          Deluxe
        </p>
        <p>
          <button id="starter-button" type="button">Continue</button>
        </p>
      </div></form>
    </div>
    </div>
    <div id="toc" style="display: none">
      <div class="section">
        <div class="crow">
          <div class="left-column centered">
            Template
          </div>
          <div class="middle-column">
            &nbsp;
          </div>
          <div class="right-column centered">HTML</div>
        </div>
        {% for slot in slots %}
          <div class="slot-div crow" style="align-items: center;" data-name="{{ slot.name }}">
            <div class="slot-template-div left-column">
              <div class="slot-name-div centered tooltip-container">
                <span class="slot-name-span">{{ slot.name }}</span>
                <span class="tooltip-text">{{ slot.tip }}</span>
              </div>
              <div class="left-column sections-div">
              </div>
            </div>
            <div class="middle-column centered center">
              <button class="randomize-slot-button">Randomize &#x2192;</button>
            </div>
            <div class="right-column html"><textarea></textarea></div>
            <div class="right-column rendered" style="display: none;"></textarea></div>
          </div>
        {% endfor %}
      </div>
      <div class="row" style="max-width: 500px; margin: auto; padding-bottom: 25px;">
        <div>
          <span><input id="deluxe-group-checkbox" type="checkbox" /> Deluxe</span>
          <span class="tooltip-container">
            <span>?</span>
            <span class="tooltip-text">Include/exclude deluxe content (sections starred above).</span>
          </span>
        </div>
        <button id="randomize-button">Randomize all</button>
        <div>
          <button id="reset-button">Reset</button>&nbsp;
          <span class="tooltip-container">
            <span>?</span>
            <span class="tooltip-text">Reload the page template and clear randomized content.</span>
          </span>
        </div>
      </div>
      <div class="row" style="max-width: 500px; margin: auto; padding-bottom: 25px;">
        <button id="preview-unformatted-button">Preview (unformatted)</button>
        <button id="preview-button">Preview (as sparkparts.com)</button>
        <button id="save-button">Save</button>
      </div>
    </div>
  {% endif %}
  <div class="ModalScreen" style="display: none;">
    <div class="ModalWindow">
      <div class="titlebar centered">Preview<span class="x">&#x2715;</span></div>
      <div class="body"></div>
    </div>
  </div>
{% endblock content %}

{% block load-last %}
  {{ block.super }}
  <script type="text/javascript">
    $("#website-select").on("change", function() {
      var domain = $(this).find("option:selected").val();
      if (domain) {
        window.location.href = "/content/builder/" + domain;
      }
    })

    $("#year-select").on("change", checkNavComplete);
    $(".model-select").on("change", checkNavComplete);
    $("#make-select").on("change", function() {
      $(".model-select").hide();
      if (makeValue()) {
        $("#" + makeValue() + "-model-select").show();
      }
      checkNavComplete();
    });

    function checkNavComplete() {
      if (websiteValue() && yearValue() && makeValue() && modelValue()) {
        window.location.href = "/content/builder/" + websiteValue() + "/" + getSlug();
      }
    }

    function websiteValue() {
      return "{{ website.domain|escapejs }}";
    }
    function yearValue() {
      {% if make_model %}
        return "{{ year }}";
      {% else %}
        return $("#year-select option:selected").val()
      {% endif %}
    }
    function makeValue() {
      {% if make_model %}
        return "{{ make_model.make_slug|escapejs }}";
      {% else %}
        return $("#make-select option:selected").val()
      {% endif %}
    }
    function modelValue() {
      {% if make_model %}
        return "{{ make_model.model_slug|escapejs }}";
      {% else %}
        var make = makeValue();
        return make && $("#" + make + "-model-select option:selected").val();
      {% endif %}
    }
    function forSlug(value) {
      return value.replace(/[\s-]/g, "").toLowerCase();
    }
    function previewUrl() {
      return "https://" + websiteValue() + "/v-" + getSlug();
    }
    function getContentKey() {
      return websiteValue() + "-" + getSlug();
    }
    function getSlug() {
      var year = yearValue();
      if (year === "*") {
        return makeValue() + "-" + modelValue();
      }
      else {
        return yearValue() + "-" + makeValue() + "-" + modelValue();
      }
    }

    var contentIndex;
    var pageConfiguration;
    var currentImages;

    var showRendered;
    var dirty;

    function reset() {
      return loadContentIndex().then(function(data) {
        contentIndex = data;
        return loadPageConfiguration(getContentKey(), contentIndex).then(function(obj) {
          pageConfiguration = obj;
          return loadImages().then(function(data) {
            currentImages = data;
            prepImages();
          })
        })
      })
    }

    {% if make_model %}
      reset().then(function() { renderPageConfiguration() })
    {% endif %}

    function loadImages() {
      return ajaxGet("/api/1.0/media", {
        year: yearValue(),
        make: makeValue(),
        model: modelValue()
      })
      .catch(function(err) {
        alert(err);
      })
    }

    function prepImages() {
      if (!currentImages || !currentImages.length) {
        $("#no-images-warning").show();
        pageConfiguration.removeGroup("image");
      }
      else {
        var imageBarImage0 = $("#image-bar img:first-child").clone();
        $("#image-bar img").remove()
        for (var i = 0; i < currentImages.length; ++i) {
          $("#image-bar").append(imageBarImage0.attr("src", currentImages[i].file).clone());
        }
        $("#image-bar").show();
        $("#no-images-warning").hide();
      }
    }

    $("#starter-button").click(function(e) {
      var deluxe = !!$("#starter-deluxe-checkbox").prop("checked");
      pageConfiguration.useTemplate(deluxe);
      dirty = true;
      renderPageConfiguration();
    });

    function renderPageConfiguration() {
      if (pageConfiguration.isEmpty()) {
        $("#empty-case-div").show() 
        $("#toc").hide();
      }
      else {
        $("#empty-case-div").hide();
        $(".slot-div").each(function() {
          var slotName = $(this).attr("data-name");
          $(this).find(".sections-div").each(function() {
            $(this).empty();
            var sectionsForSlot = contentIndex.bySlot[slotName];
            if (sectionsForSlot) {
              for (var i = 0; i < sectionsForSlot.length; ++i) {
                var section = sectionsForSlot[i];
                $(this).append(renderSectionControl(section))
              }
            }
          })
        });
        reloadSlotText();
        updatePageControls();
        $("#toc").show();
      }
    }

    function reloadSlotText(slotName) {
      pageConfiguration.loadSlotText(slotName).then(function(data) {
        for (var slotName in data) {
          $(".slot-div[data-name=" + slotName + "]").find("textarea").text(data[slotName])
        }
      })
    }

    function renderSectionControl(section) {
      var isDeadImage = section.group === "image" && (!currentImages || !currentImages.length);

      var checkbox = $("<input type='checkbox'>")
        .attr("checked", pageConfiguration.contains(section.id));

      if (isDeadImage) {
        checkbox.attr("disabled", true);
      }
      else {
        checkbox.on("click", function() {
          if (pageConfiguration.contains(section.id)) {
            pageConfiguration.removeSection(section.id);
          }
          else {
            pageConfiguration.addSection(section);
          }
          dirty = true;
          updatePageControls();
          reloadSlotText(section.slot);
        });
      }

      var label = $("<span>")
        .attr("class", "section-name")
        .text(section.name + " ");

      if (section.group === "deluxe") {
        label.append($("<span>").text(" \u2606"));
      }
      if (isDeadImage) {
        label.append(
            $("<span class='tooltip-container'>")
                .append($("<span>").text(" ? "))
                .append($("<span class='tooltip-text'>")
                    .text("This section cannot be shown unless images are added for this make/model.")));
      }

      var div = $("<div>").attr("class", "section-div");
      div.append(checkbox);
      div.append(label);
      return div;
    }

    function updatePageControls() {
      $("#deluxe-group-checkbox").prop("checked", pageConfiguration.hasGroup("deluxe"));
      $("#save-button").prop("disabled", !dirty);
      $("#preview-button").prop("disabled", dirty || !pageConfiguration.isResolved());
      $("#preview-unformatted-button").prop("disabled", !pageConfiguration.isResolved());
    }

    $("#deluxe-group-checkbox").on("click", function() {
      if (pageConfiguration.hasGroup("deluxe")) {
        pageConfiguration.removeGroup("deluxe");
      }
      else {
        pageConfiguration.addGroup("deluxe");
      }
      dirty = true;
      renderPageConfiguration();
    })

    $("#reset-button").on("click", function() {
      var deluxe = pageConfiguration.hasGroup("deluxe");
      reset().then(function() {
        pageConfiguration.useTemplate(deluxe);
        dirty = true;
        renderPageConfiguration();
        alert("Content reset.")
      });
    });

    $("#save-button").on("click", function() {
      pageConfiguration.save().then(function() {
        dirty = false;
        updatePageControls()
        alert("Page configuration saved.")
      });
    });

    $(".randomize-slot-button").on("click", function() {
      var slotName = $(this).closest(".slot-div").attr("data-name");
      pageConfiguration.resolveSlot(slotName);
      dirty = true;
      reloadSlotText(slotName)
      updatePageControls()
    });

    $("#randomize-button").on("click", function() {
      pageConfiguration.resolveAll();
      dirty = true;
      reloadSlotText()
      updatePageControls()
      alert("Content randomized.")
    });

    $("#preview-button").on("click", function() {
      var url = "/content/preview?website=" + websiteValue() + "&slug=" + getSlug();
      window.open(url, "_blank");
    });

    $("#preview-unformatted-button").on("click", function() {
      pageConfiguration.loadSlotText().then(function(data) {
        var template = $('<div class="preview"><div class="slot-header"></div><div class="slot-body"></div><div class="slot-footer"></div></div>')
        var modal = $(".ModalWindow .body").empty().append(template);
        for (var slotName in data) {
          modal.find(".slot-" + slotName).append($(data[slotName]));
        }
        openModal();
      })
    });

    document.addEventListener("keydown", function(e) {
      if (e.keyCode == 27/*esc*/) {
        closeModal();
      }
    });

    $(".ModalScreen").on("click", function(e) { closeModal() });
    $(".ModalWindow").on("click", function(e) { e.stopPropagation() });
    $(".ModalWindow .titlebar").on("click", function(e) { e.stopPropagation() });
    $(".ModalWindow .body").on("click", function(e) { e.stopPropagation() });
    $(".ModalWindow .x").on("click", function(e) { closeModal() });

    function openModal() {
      $(".ModalScreen").show();
    }

    function closeModal() {
      $(".ModalScreen").hide();
    }

  </script>
{% endblock load-last %}
