{% extends "loggedin.html" %}
{% load static %}

{% block load-first %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/builder.css' %}">
{% endblock load-first %}

{% block content %}
  <div class="topnav">
    <b>SEO Landing Page Builder</b>
    <a href="/seolp-catalog">&gt;&gt; SEO Landing Page Content Catalog</a>
  </div>
  <section class="nav">
    <div>
      {% if website %}
        <span>Website: </span>
        <span>
          {% if website.title %}
            <b>{{ website.title }}</b>
            ({{website.domain_name}})
          {% else %}
            <b>{{ website.domain_name }}</b>
          {% endif %}
        </span>
        <span>
          <a href="/content/builder{% if make_model %}/000/{{ make_model.slug }}{% endif %}">Change</a>
        </span>
      {% else %}
        <select id="website-select">
          <option value="">Select a website...</option>
          {% for w in websites %}
            <option value="{{ w.domain_name }}">{{ w.title|default:w.domain_name }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
    <span>
      {% if not make_model %}
        <select id="year-select">
          <option value="">Select a year...</option>
          <option value="*">(any)</option>
          {% for year in year_range %}
            <option>{{ year }}</option>
          {% endfor %}
        </select>
        <select id="make-select">
          <option value="">Select a make...</option>
          {% for m in makes %}
            <option value="{{ m.make_slug }}">{{ m.make }}</option>
          {% endfor %}
        </select>
        {% for m in makes %}
          <select id="{{ m.make_slug }}-model-select" class="model-select" style="display: none">
            <option value="">Select a model...</option>
            {% for model in m.models %}
              <option value="{{ model.model_slug }}">{{ model.model }}</option>
            {% endfor %}
          </select>
        {% endfor %}
      {% else %}
        <b>{% if year != '*' %}{{ year }} {% endif %}{{ make_model.make }} {{ make_model.model }}</b>
        <span> <a href="/content/builder{% if website %}/{{ website }}{% endif %}">Change</a></span>
      {% endif %}
    </span>
  </section>
  {% if website and make_model %}
    <section class="image-bar-container">
      <div id="no-images-warning" style="display: none">
        There are no images available for this make/model.
      </div>
      <div class="image-bar" style="display: none;"></div>
      <span class="add-images"><a href="/seolp-media">Add images</a></span>
    </section>
    <div id="empty-case-div" class="card" style="display: none; line-spacing: 1.5;">
      <p>Select a page template to start with:</p>
      <form><div style="padding-left: 16px;">
        <p>
          <input id="starter-regular-checkbox" type="radio" name="starter-type" checked/>
          Regular
        </p>
        <p>
          <input id="starter-deluxe-checkbox" type="radio" name="starter-type" />
          Deluxe
        </p>
        <p>
          <button id="starter-button" type="button">Continue</button>
        </p>
      </div></form>
    </div>
    </div>
    <div id="toc" style="display: none">
      <div class="section">
        <div class="crow">
          <div class="left-column centered">
            Template
          </div>
          <div class="middle-column">
            &nbsp;
          </div>
          <div class="right-column centered">HTML</div>
        </div>
        {% for slot in slots %}
          <div class="slot-div crow crow-border" data-name="{{ slot.name }}">
            <div class="slot-template-div left-column">
              <div class="slot-name-div">
                <span class="slot-name-span">{{ slot.name }}</span>
                <div class="tooltip-container">
                  &#x24d8;
                  <span class="tooltip-text">{{ slot.tip }}</span>
                </div>
              </div>
              <div class="left-column sections-div">
              </div>
            </div>
            <div class="middle-column centered">
              <button class="randomize-slot-button">Randomize &#x2192;</button>
            </div>
            <div class="right-column html">
              <textarea></textarea>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row" style="max-width: 500px; margin: auto; padding-bottom: 25px;">
        <div>
          <span><input id="deluxe-group-checkbox" type="checkbox" /> Deluxe</span>
          <span class="tooltip-container">
            &#x24d8;
            <span class="tooltip-text">Include/exclude deluxe content (sections starred above).</span>
          </span>
        </div>
        <button id="randomize-button">Randomize all</button>
        <div>
          <button id="reset-button">Reset</button>&nbsp;
          <span class="tooltip-container">
            &#x24d8;
            <span class="tooltip-text">Reload the page template and clear randomized content.</span>
          </span>
        </div>
      </div>
      <div class="row" style="max-width: 500px; margin: auto; padding-bottom: 25px;">
        <button id="preview-unformatted-button">Quick Look</button>
        <span>
          <button id="preview-button">Preview</button>
          <span class="tooltip-container">
            &#x24d8;
            <span class="tooltip-text">
              Show the content as it would appear on the site sparksparts.com.
              Requires save.
            </span>
          </span>
        </span>
        <button id="save-button">Save</button>
      </div>
    </div>
  {% endif %}
  <div class="ModalScreen" style="display: none;">
    <div class="ModalWindow">
      <div class="titlebar centered">Preview<span class="x">&#x2715;</span></div>
      <div class="body"></div>
    </div>
  </div>
{% endblock content %}

{% block load-last %}
  <script type="text/javascript">
    window.navState = {
      year: "{{ year }}",
      make: "{{ make|escapejs }}",
      model: "{{ model|escapejs }}",
      website: "{{ website|escapejs }}"
    }
  </script>
  <script type="text/javascript" src="{% static 'js/builder.js' %}"></script>
{% endblock load-last %}
