{% extends "loggedin.html" %}
{% load static %}

{% block load-first %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/ccat.css' %}">
{% endblock load-first %}

{% block content %}
  <div class="topnav">
    <b>SEO Landing Content Catalog</b>
    <a href="/content/builder">&gt;&gt; SEO Landing Page Builder</a>
  </div>
<section class="full">
  <div class="catalog-main-div">
    <div class="catalog-left-div">
      {% for slot in slots %}
        <div class="slot-info-div" data-name="{{ slot.name }}">
          <div class="slot-name-div tooltip-container">
            Slot: &nbsp; <span class="slot-name-span">{{ slot.name }}</span>
            <span class="tooltip-text">{{ slot.tip }}</span>
          </div>
          <ul class="reorder-list">
          </ul>
          <ul>
            <li>
              <input class="section-name-input" type="text" />
              <button class="add-section-button">+ Add</button>
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>

    <div class="catalog-right-div">
      <div class="section selected-section-div" style="display:none">
        Selected section: <span id="selected-section-span"></span>
      </div>
      <div class="section selected-section-div" style="display:none">
        <input name="deluxe" type="checkbox"/> Deluxe
        &nbsp;
        <input name="image" type="checkbox"/> Contains Image
        <div class="tooltip-container">
          <span> &#9432; </span>
          <span class="tooltip-text">Hide this section if no image is available.</span>
        </div>
      </div>
      <div class="section row" id="variant-nav-div" style="display:none">
        <span id="got-variants-span" style="display: none;">
          Showing variant #<span id="variant-index-span"></span>
          of <span id="nvariants-span"></span>
        </span>
        <span id="no-variants-span" style="display: none;">No content variants yet</span>
        <a href="#" id="prev-variant-link">Previous</a>
        <a href="#" id="next-variant-link">Next</a>
        <button id="add-variant-button">Add variant</button>
      </div>
      <div class="section">
        <textarea id="the-textarea" style="display:none"></textarea>
      </div>
      <div id="save-button-div" class="section row" style="display:none;">
        <button id="save-button">Save</button>
        <button id="delete-button">Delete</button>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block load-last %}
  {{ block.super }}
  <script type="text/javascript">
    var slots = [
      {% for slot in slots %}
        {% if not forloop.first %},{% endif %}"{{ slot.name|escapejs }}"
      {% endfor %}
    ]
  </script>
  <script type="text/javascript" src="{% static 'js/ccat.js' %}"></script>
{% endblock load-last %}
