{% extends "loggedin.html" %}

{% block header %}{% include "header.html" with title="SEO Landing Page Content Catalog" %}{% endblock header %}

{% block content %}
<style>
  body {
    font-size: 14px;
  }
  .catalog-main-div {
    display: flex;
    justify-content: center;
  }
  .catalog-right-div {
    min-width: 400px;
    margin-left: 10px;
    border-left: solid 1px gray;
  }
  .slot-name-div {
    margin-bottom: 5px;
  }
  .slot-name-span {
    color: #751;
    font-weight: bold;
  }
  .slot-info-div {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .slot-info-div ul {
    list-style: none;
  }
  .slot-info-div li {
    margin-left: 45px;
    margin-bottom: 5px;
    min-width: 180px;
    background-color: white;
  }
  ul {
    list-style-class: none;
  }
  input.section-name-input {
    width: 120px;
  }
  textarea {
    width: 400px;
    height: 250px;
  }
  #selected-section-span {
    font-weight: bold;
    color: #751;
  }
</style>
<section class="full">
  <div class="catalog-main-div">
    <div class="catalog-left-div">
      {% for slot in slots %}
        <div class="slot-info-div" data-name="{{ slot.name }}">
          <div class="slot-name-div tooltip-container">
            Slot: &nbsp; <span class="slot-name-span">{{ slot.name }}</span>
            <span class="tooltip-text">{{ slot.tip }}</span>
          </div>
          <ul class="reorder-list">
          </ul>
          <ul>
            <li>
              <input class="section-name-input" type="text" />
              <button class="add-section-button">+ Add</button>
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>

    <div class="catalog-right-div">
      <div class="section" id="selected-section-div" style="display:none">
        Selected section: <span id="selected-section-span"></span>
      </div>
      <div class="section row" id="variant-nav-div" style="display:none">
        <span id="got-variants-span" style="display: none;">
          Showing variant #<span id="variant-index-span"></span>
          of <span id="nvariants-span"></span>
        </span>
        <span id="no-variants-span" style="display: none;">No content variants yet</span>
        <a href="#" id="prev-variant-link">Previous</a>
        <a href="#" id="next-variant-link">Next</a>
        <button id="add-variant-button">Add variant</button>
      </div>
      <div class="section">
        <textarea id="the-textarea" style="display:none"></textarea>
      </div>
      <div id="save-button-div" class="section row" style="display:none;">
        <button id="save-button">Save</button>
        <button id="delete-button">Delete</button>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block load-last %}
{{ block.super }}
<script type="text/javascript">
  var slots = [
    {% for slot in slots %}
      {% if not forloop.first %},{% endif %}"{{ slot.name|escapejs }}"
    {% endfor %}
  ]
  var contentIndex;
  var selection;
  var currentSection;
  var currentVariantIndex;

  loadContentIndex().then(function(data) {
    contentIndex = data;
    renderSections();
  })

  function renderSections() {
    for (var i = 0; i < slots.length; ++i) {
      var slot = slots[i];
      var sections = contentIndex.bySlot[slot];
      if (sections) {
        for (var j = 0; j < sections.length; ++j) {
          renderSection(sections[j], slot);
        }
      }
    }
  }

  function renderSection(section, slot) {
    var row = $("<li>");
    row.append($('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>draggable</title><path d="M2 11h16v2H2zm0-4h16v2H2zm8 11l3-3H7l3 3zm0-16L7 5h6l-3-3z"/></svg>'))
    row.append($("<div>").text(section.name));
    row.append($("<div>").text(""));
    $(".slot-info-div[data-name='" + slot + "'] ul.reorder-list").append(row);
    row.on("click", function() {
      selectSection(section);
    });
  }

  function selectSection(section) {
    currentSection = section;
    $("#selected-section-div").show();
    $("#selected-section-span").text(currentSection.name);
    currentVariantIndex = 0;
    renderCurrentVariant();
  }

  $(".reorder-list").sortable({
    start: function(event, ui) {
      var startingPos = ui.item.index();
      ui.item.data("startingPos", startingPos);
    },
    update: function(event, ui) {
      var startingPos = ui.item.data("startingPos")
      var endingPos = ui.item.index()
      var slot = ui.item.closest(".slot-info-div").attr("data-name")
      var sections = contentIndex.bySlot[slot];
      var mover = sections[startingPos];
      sections.splice(startingPos, 1)
      sections.splice(endingPos, 0, mover)
      transmitNewOrder(slot, sections)
    }
  });
  $("#reorder-list").disableSelection();

  function transmitNewOrder(slot, sections) {
    var order = null;
    for (var i = 0; i < sections.length; ++i) {
      var section = sections[i];
      if (order === null) {
        order = section.order || 0;
      }
      else {
        order += 1;
      }
      if (order !== section.order) {
        section.order = order;
        var data = Object.assign({}, section);
        delete data.variants;
        ajaxPut("/api/1.0/cs/" + data.id, data)
      }
    }
  }

  $(".add-section-button").on("click", function() {
    var sectionName = $(this).parent().find(".section-name-input").val();
    if (!sectionName) {
      alert("Enter new section name.")
      return;
    }
    if (contentIndex.byName[sectionName]) {
      alert("That section already exists.")
      return;
    }
    var slot = $(this).closest(".slot-info-div").attr("data-name");
    var lastSection = contentIndex.bySlot[slot] && contentIndex.bySlot[slot].last()
    var bottom = lastSection ? lastSection.order + 1 : 0;
    ajaxPost("/api/1.0/cs", { name: sectionName, slot: slot, order: bottom })
    .then(function(data) {
      data.variants = [];
      contentIndex.addSection(data);
      renderSection(data, slot);
      selectSection(data);
    })
    .catch(function(err) {
      alert("Error adding section.");
    });
  })

  function renderCurrentVariant() {
    if (currentSection && currentSection.variants.length > 0) {
      $("#the-textarea").show()
      $("#the-textarea").attr("readonly", true);
      $("#the-textarea").val("(Loading...)")
      loadCurrentText();
    }
    else {
      $("#the-textarea").hide()
    }
    refreshVariantNav();
  }

  function refreshVariantNav() {
    $("#variant-nav-div").hide();
    if (!currentSection) return;
    var nvariants = currentSection.variants.length;
    if (nvariants == 0) {
      $("#got-variants-span").hide();
      $("#no-variants-span").show();
    }
    else {
      $("#got-variants-span").show();
      $("#no-variants-span").hide();
      $("#variant-index-span").text(currentVariantIndex + 1)
      $("#nvariants-span").text(nvariants);
    }
    if (nvariants < 2) {
      $("#prev-variant-link").hide();
      $("#next-variant-link").hide();
    }
    else {
      $("#prev-variant-link").show();
      $("#next-variant-link").show();
    }
    $("#variant-nav-div").show();
  }

  function loadCurrentText() {
    return ajaxGet("/api/1.0/cv/" + currentSection.variants[currentVariantIndex].id)
    .then(function(data) {
      $("#the-textarea").val(data.text);
      $("#the-textarea").attr("readonly", false);
      $("#save-button-div").show()
    })
    .catch(function(err) {
      alert("Error loading content.");
    });
  }

  $("#prev-variant-link").on("click", function() {
    if (currentVariantIndex > 0) {
      currentVariantIndex -= 1;
      renderCurrentVariant();
    }
  })
  $("#next-variant-link").on("click", function() {
    if (currentVariantIndex < currentSection.variants.length - 1) {
      currentVariantIndex += 1;
      renderCurrentVariant();
    }
  })

  $("#add-variant-button").on("click", function() {
    if (!currentSection) return;
    ajaxPost(
      "/api/1.0/cv",
      { section: currentSection.id, text: "<p>Your HTML here.  Don't forget to click Save.</p>" }
    )
    .then(function(data) {
      currentVariantIndex = contentIndex.addVariant(data);
      renderCurrentVariant();
      $("#the-textarea").val(data.text);
    })
    .catch(function(err) {
      alert("Error adding section.");
    })
  })

  $("#save-button").on("click", function() {
    if (!currentSection || !currentSection.variants.length) return;
    var id = currentSection.variants[currentVariantIndex].id;
    var text = $("#the-textarea").val();
    ajaxPut("/api/1.0/cv/" + id, { section: currentSection.id, text: text })
    .then(function(data) {
      alert("Saved.")
    })
    .catch(function(err) {
      alert("Error saving text.");
    })
  })

  $("#delete-button").on("click", function() {
    var id;
    try {
      id = currentSection.variants[currentVariantIndex].id;
    }
    catch (e) {
      return;
    }
    ajaxDelete("/api/1.0/cv/" + id)
    .then(function() {
      alert("Deleted.")
      currentSection.variants.splice(currentVariantIndex, 1);
      currentVariantIndex = Math.min(currentVariantIndex, currentSection.variants.length - 1)
      renderCurrentVariant();
    })
    .catch(function(err) {
      alert("Error deleting content variant.");
    })
  })
</script>
{% endblock load-last %}
