{% extends "loggedin.html" %}

{% block header %}{% include 'header.html' with title="Home" %}{% endblock header %}

{% block content %}
  <section class="card">
    <a href="/content/builder"><h3>SEO Landing Page Builder</h3></a>
    <p>Assemble content for SEO landing pages.</p>
    <a href="/seolp-catalog"><h3>SEO Landing Page Content Catalog</h3></a>
    <p>Define the content sections that make up SEO landing pages.</p>
    <a href="/seolp-media"><h3>SEO Media Manager</h3></a>
    <p>Upload and tag images to appear in SEO landing pages.</p>
    <a href="https://oemcompanalysis.herokuapp.com"><h3>Competitive Analysis</h3></a>
    <p>Run competitive pricing analysis reports.</p>
    <a href="/admin123"><h3>Data Admin</h3></a>
    <p>Manage users, makes, models, parts, etc.</p>
  </section>
{% endblock content %}
