{% extends "base.html" %}

{% block load-first %}
<style>
  textarea {
    width: 600px;
    height: 180px;
  }
</style>
{% endblock %}

{% block body-content %}
  <section class="full">
    <h2>{{ website }} {{ year }} {{ Make }} {{ Model }}</h2>
    <h3>Header</h3>
    <textarea readonly>{{ slot_texts.header }}</textarea>
    <h3>Meta1</h3>
    <textarea readonly>{{ slot_texts.meta1 }}</textarea>
    <h3>Meta2</h3>
    <textarea readonly>{{ slot_texts.meta2 }}</textarea>
    <h3>Body + Footer</h3>
    <textarea readonly>{{ slot_texts.body }}{{ slot_texts.footer }}</textarea>
  </div>
{% endblock body-content %}
