{% extends "base.html" %}

{% block load-first %}
<style>
  textarea {
    width: 600px;
    height: 180px;
  }
</style>
{% endblock %}

{% block body-content %}
  <section class="full">
    <h2>{{ website }} {{ year }} {{ Make }} {{ Model }}</h2>
    <h3>Body</h3>
    <textarea readonly>
      {{ slot_texts.body }}
    </textarea>
    <h3>Header</h3>
    <textarea readonly>
      {{ slot_texts.header }}
    </textarea>
    <h3>Footer</h3>
    <textarea readonly>
      {{ slot_texts.footer }}
    </textarea>
    <h3>Meta</h3>
    <textarea readonly>
      {{ slot_texts.meta }}
    </textarea>
  </div>
{% endblock body-content %}
