{% extends "loggedin.html" %}
{% load widget_tweaks %}

{% block header %}{% include "header.html" with title="Media Manager" %}{% endblock header %}

{% block load-first %}
  <style>
    .error {
      color: red;
    }
    div#image-list {
      text-align: center;
    }
    div.image-item {
      margin: 14px auto;
    }
    div.image-item p {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    div.formrow {
      margin-top: 5px;
    }
    img {
      max-width: 640px;
    }
  </style>
{% endblock %}

{% block content %}
<section class="full">
  <h2>Image Upload</h2>
  <p>Image files must be named <i>year-make-model.ext</i>, where <i>year</i> is
     the 4-digit year, <i>make</i> and <i>model</i> are the abbreviated make and
     model, and <i>ext</i> is jpg or png.  Make and model must be all lower case
     and must contain no spaces or hyphens. 
  </p>
  <p>For example, "2000-mercedesbenz-s500.jpg"</p>
  <form id="upload-form" action="/media/upload/ymm/" method="POST">
    {% csrf_token %}
    <label for="images">Select image files:</label>
    <input type="file" name="images" required multiple/>
    <input type="submit"/>
    <div id="upload-results-div">
    </div>
  </form>
  <h2>Image Query</h2>
  <p>Search for an image by its year, make and model.
      Leave a field blank to match any value of that field.</p>
  <form id="query-form" action="/api/1.0/media" method="GET">
    <div class="formrow">
      <input name="year" placeholder="Year (or blank)"/>
      <input name="make" placeholder="Make (or blank)"/>
      <input name="model" placeholder="Model (or blank)"/>
      <input type="submit" name="submit" value="Search"/>
    </div>
  </form>
  <div id="image-list"></div>
</section>
{% endblock content %}

{% block load-last %}
<script type="text/javascript">
  $("#query-form").on("submit", function(event) {
    event.preventDefault()
    var $form = $(this);
    var url = $form.attr("action");
    $("#image-list").empty()
    var year = $form.find("input[name='year']").val();
    var make = $form.find("input[name='make']").val();
    var model = $form.find("input[name='model']").val();
    var queryParams = {};
    if (year) queryParams.year = year;
    if (make) queryParams.make = make;
    if (model) queryParams.model = model;
    ajaxGet(url, queryParams)
    .then(function(data) {
      if (!data || !data.length) {
        $("#image-list").append($("<p>").text("No matches."))
      }
      for (var i = 0; i < data.length; ++i) {
        var filename = data[i].url.split("?")[0].split("/").reverse()[0];
        $("#image-list")
            .append($("<div class='image-item'>")
              .append($("<img>").attr("src", data[i].url))
              .append($("<p>").text(filename))
            );
      }
      $form.trigger("reset");
    })
    .catch(function() {
      $("#image-list").append($("<li>").addClass("error").text("Error."));
    })
  })

  $("#upload-form input[type='text']").on("change", function(event) {
    $("#upload-results-div").removeClass("error").empty()
  })

  $("#upload-form").on("submit", function(event) {
    if (!this.checkValidity()) {
      return;
    }
    event.preventDefault()
    var $form = $(this);
    var url = $form.attr("action");
    $("#upload-results-div").removeClass("error").empty()
    ajaxPost(url, new FormData(this))
    .then(function(data) {
      for (var i = 0; i < data.results.length; ++i) {
        var res = data.results[i];
        var row = $("<p>");
        if (res.error) {
          row.addClass("error").text(res.name + ": " + res.error);
        }
        else {
          row.append($("<span>").text(res.name + ": "));
          row.append($("<a>").text(res.message).attr("href", res.url).attr("target", "uploaded"))
        }
        $("#upload-results-div").append(row);
      }
      $form.trigger("reset");
    })
    .catch(function() {
      $(".upload-status").addClass("error").text("Error.");
    })
  })
</script>
{% endblock load-last %}
